.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.big-box {
    width: 400px; /* Chiều rộng lớn hơn */
    height: 145px;
    background-color: #2C3E50;
    color: white;
    display: flex;
    align-items:flex-start;
    padding-top:5px;
    justify-content: center;
  
}

.small-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 500px; /* Đặt chiều rộng cố định để đảm bảo Small xếp 2 cột */

}

.small-box {
    width: 200px;
    height: 70px;
    background-color: #2C3E50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
